@import url("common.css");
@import url("side_menu.css");
@import url("accordian.css");



.accordion h2 {
    margin: 0;
    font-size: 1.7em;
    padding-top: 0;
}

.panel {
    padding: 3%;
}

.panel h4 {
    font-size: 22px;
    padding-bottom: 5px;
}

main {
    width: 50%;
}

.panel ul {
    padding-left: 30px;
    font-size: 18px;
}